# Generate a CA Certificate used to sign certificates for the webhook
apiVersion: cert-manager.io/v1alpha3
kind: Certificate
metadata:
  name: webhook-ca
  labels:
  {{- include "topolvm.labels" . | nindent 4 }}
spec:
  secretName: webhook-ca
  duration: 87600h0m0s # 10y
  issuerRef:
    name: webhook-selfsign
  commonName: "ca.webhook.topolvm"
  isCA: true
  usages:
    - digital signature
    - key encipherment
    - cert sign

---

# Finally, generate a serving certificate for the webhook to use
apiVersion: cert-manager.io/v1alpha3
kind: Certificate
metadata:
  name: mutatingwebhook
  labels:
  {{- include "topolvm.labels" . | nindent 4 }}
spec:
  secretName: mutatingwebhook
  duration: 8760h0m0s # 1y
  issuerRef:
    name: webhook-ca
  dnsNames:
    - {{ template "topolvm.fullname" . }}-controller
    - {{ template "topolvm.fullname" . }}-controller.{{ .Release.Namespace }}
    - {{ template "topolvm.fullname" . }}-controller.{{ .Release.Namespace }}.svc
  usages:
    - digital signature
    - key encipherment
    - server auth
    - client auth
